<p>Khuyến mãi  (Đến 31/05)</p>
<ul class="promotion-list">
    <li>Nhập mã AVAKID giảm 10% tối đa 100.000đ cho đơn hàng từ 300.000đ trở lên khi thanh toán qua Ví Moca trên ứng dụng Grab <a href="#">(click xem chi tiết)</a> </li>
</ul>