<b class="cmt-title">Hỏi đáp về @Model.ProductName</b>
<div class="group-cmt">
    <textarea name="txtContent" rows="1" maxlength="1000" required="required" placeholder="Mời bạn bình luận hoặc đặt câu hỏi" class="extend"></textarea>
</div>