<b class="cmt-title">Hỏi đáp về @Model.ProductName</b>
<div class="group-cmt">
    <textarea name="txtContent" rows="1" maxlength="1000" required="required" placeholder="Mời bạn bình luận hoặc đặt câu hỏi" class="extend"></textarea>
</div>
<div class="info-form-cmt">
    <div class="gendercomment new-version">
        <label class="" data-gender="1"><i class="radio"></i> Anh</label>
        <label class="" data-gender="0"><i class="radio"></i> Chị</label>
        <input name="hdGender" type="hidden" value="-1">
    </div>
    <div class="group-cm box-cmt-item">
        <input name="txtFullName" type="text" maxlength="50" required="required">
        <label class="material-cm">Họ và tên <span>*</span></label>
    </div>
    <div class="group-cm box-cmt-item">
        <input type="number" name="txtPhone" maxlength="50">
        <label class="material-cm">Số điện thoại</label>
    </div>
    <div class="group-cm box-cmt-item">
        <input name="txtEmail" type="text" maxlength="50">
        <label class="material-cm">Email</label>
    </div>
    <button type="submit" class="box-cmt-item">
        GỬI
    </button>
</div>